<footer>
    <div id="arrange">
        <ul >
            <!-- <li class="active" id="tabbtn" ><a href="/mark"><i class="fal fa-bookmark"></i></a></li> -->
            <li id="tabbtn" ><a href="/fav"><i class="fal fa-heart"></i></a></li>
            <li id="tabbtn" ><a href="/home"><i class="fal fa-home"></i></a></li>
            <li id="tabbtn" ><a href="/cart"><i class="fal fa-cart-arrow-down"></i></a></li>
            <li id="tabbtn" ><a href="/profile"><i class="fal fa-user"></i></a></li>
        </ul>
    </div>
    
</footer>

</section>
    <script src="/js/footerui.js"></script>
</body>
</html>