<%-include('header')-%>

    <section id="smalls" class="d-lg-none">
<header>
    <div id="short"></div>
    <h2>Hi Jasmine</h2>
    <h4>Enjoy Your Meal</h4>
    <input type="search" name="search" id="search">
</header>
<h1 class="d-none" id="index"><%=index%></h1>


<nav id="foodcategory">
    <div id="catcardcategory">
        <div id="foodicon"><i class="fas fa-pizza-slice"></i></div>
        <p id="foodname"> Pizza</p>
    </div>

    <div id="catcardcategory">
        <div id="foodicon"><i class="fas fa-hotdog"></i></div>
        <p id="foodname">HotDog</p>
    </div>
    <div id="catcardcategory">
        <div id="foodicon"><i class="fas fa-coffee"></i></div>
        <p id="foodname">Tea/Coffee</p>
    </div>
    <div id="catcardcategory">
        <div id="foodicon"><i class="fad fa-hamburger"></i></div>
        <p id="foodname">Hamburger</p>
    </div>
    <div id="catcardcategory">
        <div id="foodicon"><i class="fas fa-apple-alt"></i></div>
        <p id="foodname">Fruits</p>
    </div>
    <div id="catcardcategory">
        <div id="foodicon"><i class="fas fa-fish"></i></div>
        <p id="foodname">Fish</p>
    </div>
</nav>


<nav id="offers">
    <h5 id="ofertag"><i class="fas fa-tag"></i> Offers</h5>
 
        <div id="allcardoffers">
            <a href="/pick">
                <div id="catcardoffers">
                    <p id="rate"><i class="fal fa-star"></i> 4.5</p>
                    <img src="/media/nahima-aparicio-7bmbwJLKITM-unsplash.jpg" alt="" id="offerimg" >
                    <h5 id="foodname">Burgas</h5>
                    <h6 id="lastp">54 $</h6>
                    <h6>45 $</h6>
            
                </div>
            </a>
            <a href="/pick">
                <div id="catcardoffers">
                    <p id="rate"><i class="fal fa-star"></i> 4.5</p>
                    <img src="/media/nahima-aparicio-7bmbwJLKITM-unsplash.jpg" alt="" id="offerimg" >
                    <h5 id="foodname">Burgas</h5>
                    <h6 id="lastp">54 $</h6>
                    <h6>45 $</h6>
            
                </div>
            </a>
            <a href="/pick">
                <div id="catcardoffers">
                    <p id="rate"><i class="fal fa-star"></i> 4.5</p>
                    <img src="/media/nahima-aparicio-7bmbwJLKITM-unsplash.jpg" alt="" id="offerimg" >
                    <h5 id="foodname">Burgas</h5>
                    <h6 id="lastp">54 $</h6>
                    <h6>45 $</h6>
            
                </div>
            </a>
           
        </div>
    
   
   
</nav>


<div id="popular">
<h5> <i class="fab fa-hotjar"></i> Popular</h5>
<a href="/pick">
    <div id="popcard">

        <div id="eachCard">
            <p id="rate"> <i class="fal fa-star"></i>4.5</p>
        <img src="/media/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg"  alt="" id="popularimg">
       <div id="rating">
        <h4 id="tittle">Spicy Tacco</h4>
        <p id="Ingredients">Chicken,pepper,tomatot,onion</p>
        <h6 id="price">$12</h6>
        </div>

        
        
      
       </div>
       
    </div>
</a>
   
<a href="/pick">
    <div id="popcard">

        <div id="eachCard">
            <p id="rate"> <i class="fal fa-star"></i> 4.5</p>
        <img src="/media/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg" alt="" id="popularimg">
       <div id="rating">
        <h4 id="tittle">Spicy Tacco</h4>
        <p id="Ingredients">Chicken,pepper,tomatot,onion</p>
        <h6 id="price">$12</h6>
        </div>

        
        
      
       </div>
       
    </div>
</a>
<a href="/pick">
    <div id="popcard">

        <div id="eachCard">
            <p id="rate"> <i class="fal fa-star"></i> 4.5</p>
        <img src="/media/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg" alt="" id="popularimg">
       <div id="rating">
        <h4 id="tittle">Spicy Tacco</h4>
        <p id="Ingredients">Chicken,pepper,tomatot,onion</p>
        <h6 id="price">$12</h6>
        </div>

        
        
      
       </div>
       
    </div>
</a>

</div>
    </section>

<%-include('footer')-%>