<%-include('header')-%>

<section id="smalls" class="d-lg-none ">
<header id="smheader">
    <div id="short"></div>
    <div id="headerthis">

        <h2>Hi Jasmine</h2>
    <h4>Enjoy Your Meal</h4>
    <input type="search" name="search" placeholder="search your tastes" id="search">

    </div>
    <h2 id="carts"><a href="/cart"><i class="fal fa-cart-arrow-down"></i></a> </h2>
    </header>
<h1 class="d-none" id="index"><%=index%></h1>


<nav id="foodcategory">
    <div id="catcardcategory">
        <div id="foodicon"><i class="fas fa-pizza-slice"></i></div>
        <p id="foodname"> Pizza</p>
    </div>

    <div id="catcardcategory">
        <div id="foodicon"><i class="fas fa-hotdog"></i></div>
        <p id="foodname">HotDog</p>
    </div>
    <div id="catcardcategory">
        <div id="foodicon"><i class="fas fa-coffee"></i></div>
        <p id="foodname">Tea/Coffee</p>
    </div>
    <div id="catcardcategory">
        <div id="foodicon"><i class="fad fa-hamburger"></i></div>
        <p id="foodname">Hamburger</p>
    </div>
    <div id="catcardcategory">
        <div id="foodicon"><i class="fas fa-apple-alt"></i></div>
        <p id="foodname">Fruits</p>
    </div>
    <div id="catcardcategory">
        <div id="foodicon"><i class="fas fa-fish"></i></div>
        <p id="foodname">Fish</p>
    </div>
</nav>


<nav id="offers">
    <h5 id="ofertag"><i class="fas fa-tag"></i> Offers</h5>
 
        <div id="allcardoffers">
            <a href="/pick">
                <div id="catcardoffers">
                    <p id="rate"><i class="fal fa-star"></i> 4.5</p>
                    <img src="/media/nahima-aparicio-7bmbwJLKITM-unsplash.jpg" alt="" id="offerimg" >
                    <h5 id="foodname">Burgas</h5>
                    <h6 id="lastp">54 $</h6>
                    <h6>45 $</h6>
            
                </div>
            </a>
            <a href="/pick">
                <div id="catcardoffers">
                    <p id="rate"><i class="fal fa-star"></i> 4.5</p>
                    <img src="/media/nahima-aparicio-7bmbwJLKITM-unsplash.jpg" alt="" id="offerimg" >
                    <h5 id="foodname">Burgas</h5>
                    <h6 id="lastp">54 $</h6>
                    <h6>45 $</h6>
            
                </div>
            </a>
            <a href="/pick">
                <div id="catcardoffers">
                    <p id="rate"><i class="fal fa-star"></i> 4.5</p>
                    <img src="/media/nahima-aparicio-7bmbwJLKITM-unsplash.jpg" alt="" id="offerimg" >
                    <h5 id="foodname">Burgas</h5>
                    <h6 id="lastp">54 $</h6>
                    <h6>45 $</h6>
            
                </div>
            </a>
           
        </div>
    
   
   
</nav>


<div id="popular">
<h5> <i class="fab fa-hotjar"></i> Popular</h5>
<a href="/pick">
    <div id="popcard">

        <div id="eachCard">
            <p id="rate"> <i class="fal fa-star"></i>4.5</p>
        <img src="/media/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg"  alt="" id="popularimg">
       <div id="rating">
        <h4 id="tittle">Spicy Tacco</h4>
        <p id="Ingredients">Chicken,pepper,tomatot,onion</p>
        <h6 id="price">$12</h6>
        </div>

        
        
      
       </div>
       
    </div>
</a>
   
<a href="/pick">
    <div id="popcard">

        <div id="eachCard">
            <p id="rate"> <i class="fal fa-star"></i> 4.5</p>
        <img src="/media/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg" alt="" id="popularimg">
       <div id="rating">
        <h4 id="tittle">Spicy Tacco</h4>
        <p id="Ingredients">Chicken,pepper,tomatot,onion</p>
        <h6 id="price">$12</h6>
        </div>

        
        
      
       </div>
       
    </div>
</a>
<a href="/pick">
    <div id="popcard">
        <div id="eachCard">
            <p id="rate"> <i class="fal fa-star"></i> 4.5</p>
        <img src="/media/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg" alt="" id="popularimg">
       <div id="rating">
        <h4 id="tittle">Spicy Tacco</h4>
        <p id="Ingredients">Chicken,pepper,tomatot,onion</p>
        <h6 id="price">$12</h6>
        </div>

        
        
      
       </div>
       
    </div>
</a>

</div>
<%-include('footer')-%>
</section>


<section id="largehome" class="d-none d-md-block container" >
    <header>
        <div id="short"></div>
        <h2>Hi Jasmine <div id="profile"></div> </h2>
        <h4>Enjoy Your Meal</h4>
        <input type="search" name="search" id="search" class="p-2 w-75" placeholder="search for anything">
    </header>
    <nav  id="foodcategory">
        <div id="catcardcategory">
            <div id="foodicon"><i class="fas fa-pizza-slice"></i></div>
            <p id="foodname"> Pizza</p>
        </div>
    
        <div id="catcardcategory">
            <div id="foodicon"><i class="fas fa-hotdog"></i></div>
            <p id="foodname">HotDog</p>
        </div>
        <div id="catcardcategory">
            <div id="foodicon"><i class="fas fa-coffee"></i></div>
            <p id="foodname">Tea/Coffee</p>
        </div>
        <div id="catcardcategory">
            <div id="foodicon"><i class="fad fa-hamburger"></i></div>
            <p id="foodname">Hamburger</p>
        </div>
        <div id="catcardcategory">
            <div id="foodicon"><i class="fas fa-apple-alt"></i></div>
            <p id="foodname">Fruits</p>
        </div>
        <div id="catcardcategory">
            <div id="foodicon"><i class="fas fa-fish"></i></div>
            <p id="foodname">Fish</p>
        </div>
    </nav>
    <hr>
    <div id="largebodyact"  >
        <section id="largeitems" class="">
            <nav id="offers">
                <h5 id="ofertag"><i class="fas fa-tag"></i> Offers</h5>
             
                    <div id="allcardoffers">
                        <a href="/pick">
                            <div id="catcardoffers">
                                <p id="rate"><i class="fal fa-star"></i> 4.5</p>
                                <img src="/media/nahima-aparicio-7bmbwJLKITM-unsplash.jpg" alt="" id="offerimg" >
                                <h5 id="foodname">Burgas</h5>
                                <h6 id="lastp">54 $</h6>
                                <h6>45 $</h6>
                        
                            </div>
                        </a>
                        <a href="/pick">
                            <div id="catcardoffers">
                                <p id="rate"><i class="fal fa-star"></i> 4.5</p>
                                <img src="/media/nahima-aparicio-7bmbwJLKITM-unsplash.jpg" alt="" id="offerimg" >
                                <h5 id="foodname">Burgas</h5>
                                <h6 id="lastp">54 $</h6>
                                <h6>45 $</h6>
                        
                            </div>
                        </a>
                        <a href="/pick">
                            <div id="catcardoffers">
                                <p id="rate"><i class="fal fa-star"></i> 4.5</p>
                                <img src="/media/nahima-aparicio-7bmbwJLKITM-unsplash.jpg" alt="" id="offerimg" >
                                <h5 id="foodname">Burgas</h5>
                                <h6 id="lastp">54 $</h6>
                                <h6>45 $</h6>
                        
                            </div>
                        </a>
                       
                    </div>
                
               
               
            </nav>
            <hr>
            <div id="popular" class="container">
                <h5> <i class="fab fa-hotjar"></i> Popular</h5>
                <a href="/pick">
                    <div id="popcard">
                
                        <div id="eachCard">
                            <p id="rate"> <i class="fal fa-star"></i>4.5</p>
                        <img src="/media/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg"  alt="" id="popularimg">
                       <div id="rating">
                        <h4 id="tittle">Spicy Tacco</h4>
                        <p id="Ingredients">Chicken,pepper,tomatot,onion</p>
                        <h6 id="price">$12</h6>
                        </div>
                
                        
                        
                      
                       </div>
                       
                    </div>
                </a>
                   
                <a href="/pick">
                    <div id="popcard">
                
                        <div id="eachCard">
                            <p id="rate"> <i class="fal fa-star"></i> 4.5</p>
                        <img src="/media/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg" alt="" id="popularimg">
                       <div id="rating">
                        <h4 id="tittle">Spicy Tacco</h4>
                        <p id="Ingredients">Chicken,pepper,tomatot,onion</p>
                        <h6 id="price">$12</h6>
                        </div>
                
                        
                        
                      
                       </div>
                       
                    </div>
                </a>
               
                
            </div>
        
    
        </section>
        <section id="largecartfav">
            <div id="largeribbon">
               <div id="cartcounter">
               <h2 id="carttt" class="active">Cart 
                <sup>2</sup>

               </h2>
               </div> 
                <!-- <h2 id="favttle">Favourites</h2> -->
            </div>
            <div id="thebody">
                <div id="largecart">  
                <form action="/cart-delete" method="post" id="row-card" >
        
                    <input type="text" name="cartID" placeholder="" value="val" class="d-none">
                    <img src="/media/ian-dooley-TLD6iCOlyb0-unsplash.jpg" alt="" id="rowcardimage">
                   <div id="otherInfo">
                       <div id="info-a" >
                        <h5 id="cart-item">Cappuccino</h5>
                        <a href="/pick" id="edit"><i class="fal fa-pencil"></i></a>
                       </div>
                       <div id="priceDel">
                        <h5 id="priceit">$ 3.45</h5>
                     <button id="del" type="submit" ><i class="fal fa-trash-alt"></i></button>
                         
                    </div>
                    
                   </div>
                  
               
                </form>
                <form action="/cart-delete" method="post" id="row-card" >
        
                    <input type="text" name="cartID" value="val" class="d-none">
                    <img src="/media/ian-dooley-TLD6iCOlyb0-unsplash.jpg" alt="" id="rowcardimage">
                   <div id="otherInfo">
                       <div id="info-a" >
                        <h5 id="cart-item">Cappuccino</h5>
                        <a href="/pick" id="edit"><i class="fal fa-pencil"></i></a>
                       </div>
                       <div id="priceDel">
                        <h5 id="priceit">$ 3.45</h5>
                     <button id="del" type="submit" ><i class="fal fa-trash-alt"></i></button>
                         
                    </div>
                    
                   </div>
                  
               
                </form>
<hr>
                <div id="itemprice">
                    <form action="/cart" method="post">
                        <input type="text" name="cartID" value="" class="d-none">
                     <div id="ledger">
                      <div id="sheet" >  
                        <div>
                        <h5 id="subtotal">Subtotal</h5>  
                        <h5 id="amount">$5.00</h5>
                          
                        </div>  
                        <div>
                        <h5 id="subtotal">Deliveryfee</h5>  
                        <h5 id="amount">$1.00</h5>
                        </div>
                        <div>
                            <h5 id="subtotal">Total</h5>  
                            <h5 id="amount">$1.00</h5>
                            </div>
                        </div>  
                     </div>
            
                        <input type="text" name="subtotal" class="d-none" >
                        <input type="text" name="Total" class="d-none" >
                        <aside>
                        <button class="bg-success"  id="checkout" > Checkout </button>
            
                        </aside>
                    </form>
                </div>
            <hr>
            </div>
                <div id="largefav"><h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto nulla possimus sit?</h3></div>
            </div>
          
        </section>
    </div>
   <script src="/js/indexui.js"></script>
</section>

