<%-include('header')-%>
<section class="d-lg-none" id="signup">
<a href="/" id="back"><i class="fal fa-angle-left"></i></a>
    <div id="circles">
        <div id="circle-one"></div>
        <div id="circle-two"></div>
    </div>

    <form action="/login" method="post" id="newacc">
        <div id="opner">
            <h2>Nice to see you!</h2>
            <p>If you don't have an  account, signup and start cooking with us</p>
        </div>

        <input type="text"  class=" p-2" placeholder="phone number eg +25471234567"  name="phone" id="phone">
    
        <input type="password"  class=" p-2"  placeholder="password" name="password" id="password">
        <button id="create" class="bg-success p-2">Log in</button>
       <a href="/" class="bg-primary p-2" id="login">Signup</a>
        <!-- <a href="/forgot" >Forgot Password</a> -->
        
    </form>

</section>

<section  class="d-sm-none d-lg-block" id="largelog" >
  
    <div id="parts">
        <div id="imgpart">
           
    <img id="logimg" src="/media/victoria-shes-UC0HZdUitWY-unsplash.jpg" alt="">
        </div>

    <div id="formpart"> 
            <form action="/login" method="post" id="newacc">
            <div id="opner">
                <h2>Nice to see you!</h2>
                <p>If you don't have an  account, signup and start cooking with us</p>
            </div>
    
            <input type="text"  class=" p-2" placeholder="phone number eg +25471234567"  name="phone" id="phone">
        
            <input type="password"  class=" p-2"  placeholder="password" name="password" id="password">
            <button id="create" class="bg-success p-2">Log in</button>
           <a href="/" class="bg-primary p-2" id="login">Signup</a>
            <!-- <a href="/forgot" >Forgot Password</a> -->
            <!-- <div id="lgcircles">
               <div id="lgcirclesone"></div>
               <div id="lgcirclestwo"></div>
               <div id="lgcirclesthree"></div>


            </div> -->
        </form>
    </div>
       
    
    </div>

</section>

<footer>
   
    
</footer>

</section>
    
</body>
</html>